.grid-gallery{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5,1fr);
    margin: 0 auto 80px;
    padding: 100px;
}
.grid-gallery img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

img:hover{
    cursor: pointer;
    opacity: 0.5;
    transition: .9s;
}
#pic1{
    width: 100%;
    height: 140%;
}
#pic3{
    width: 100%;
    height: 120%;
}


/* .grid-gallery img:nth-child(2){
    grid-column: auto / span 2;
}
.grid-gallery img:nth-child(3){
    grid-column: auto span 2;
    grid-row: auto /  span2;
} */