*{
    margin: 0;
    padding: 0%;
}

header{
    background-image: url(banner.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60vh;
}
body{
    background-color: black;
    color: white;
}
header h1{
    color: white;
    padding-top: 20vh;
    text-align: center;
    font-size: 500%;
}
nav{
    width: 100%;
    background-color: black;
    overflow: auto;
}
nav a {
    float: left;
    padding: 20px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 15%;
    text-align: center;
    
}
nav a:hover{
        background-color:grey;
        transition: 0.7s;
}
.container{
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
}
.left{
    float: left;
    width: 40%;
    padding-left: 15px;
}
.right{
    float: right;
    width: 40%;
    padding-right: 15px;
}
img{
    max-width: 500px;
}

.container h2{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.clear-float{
    clear: both;
}
section{
    padding: 20px;
}
#testimonial p {
padding-top: 10px;
padding-bottom: 20px;
text-align: center;
}
